<div
  class="modal fade"
  id="createCategoryModal"
  tabindex="-1"
  aria-labelledby="createCategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCategoryModalLabel">
          Create Category
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="/categories/create" method="POST">
        <div class="modal-body">
          <label for="categoryName" class="form-label"> Category Name </label>

          <input
            type="text"
            class="form-control"
            id="categoryName"
            name="categoryName"
            placeholder="Example: Frozen Foods"
            required
          />
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>

          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
