<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar-container">
      <nav>
        <ul>
          <li><a href="/fruits-vegetables">Frutas y Verduras</a></li>
          <li><a href="/meat-seafood">Carnes y Pescados</a></li>
          <li><a href="/pantry">Despensa</a></li>
          <li><a href="/dairy">Lácteos</a></li>
          <li><a href="/snacks">Botanas</a></li>
          <li><a href="/pharmacy">Farmacia</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
